.Nav {
	display: flex;
}
.Nav .nav-left {
	display: flex;
	width: 200px;
	align-items: center;
	justify-content: center;
}
.Nav .nav-left .logo {
	height: 45px;
}
.Nav .nav-center {
	flex: 1;
}
.Nav .nav-right {
	width: 100px;
}
.Nav .nav-right .log {
	display: flex;
}
.Nav .nav-right ul {
	padding: 0;
	margin: 0;
}
.Nav .nav-right ul li {
	flex: 1;
	list-style: none;
}

.Nav .nav-right ul li a {
	color: rgba(255, 255, 255, 0.65);
}

.Nav .nav-right ul li a:hover {
	color: #1890ff;
}