.Logup .form .form-input {
	margin-top: 10px;
}
.Logup .logup-form-forgot {
	float: right;
}
.Logup .logup-form-button {
	width: 100%;
}
.Logup .Title {
	margin-top: 40px;
	text-align: center;
	background: #31708f;
	color: white;
	border-radius: 4px;
	padding: 5px 0;
}

.Logup {
	padding: 15px;
	width: 368px;
	margin: 0 auto;
}
.Logup-Wrap {
	width: 100%;
	height: 100%;
	background: #f0f2f5;
}